@charset "UTF-8";

.logo  {
    width: 460px;
    height: 150px;
    padding: 15px;
    margin-left:530px;
}
h1{
    color: rgb(215, 182, 235);
    font-size: 30pt;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
body {
    background-color:black;
    color: white;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font: normal 15pt Arial;
}
section {
    background-color: rgb(79, 10, 119);
    border-radius: 10px;
    padding: 15px;
    width: 1050px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(136, 5, 212, 0.521);
}
/* --------------------- menu fixo ------------------------ */
.menu ul{
    list-style-type: none;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    width: 1050px;
    overflow: hidden;
    background-color: rgb(99, 1, 138);
}
.menu li {
    float: left;
}
.menu li a:hover {
    background-color: rgb(174, 101, 216);
}
.menu li a {
    display: block;
    color: rgb(209, 209, 209);
    text-align: center;
    border-radius: 10px;
    padding: 14px 16px;
    text-decoration: none;
}
.menu li input {
    display: block;
    color: black;
    text-align: center;
    margin-top: 7px;
    margin-left: 75px;
    padding: 8px 10px;
    text-decoration: none;
}   

/*----------------------- menu interno ---------------------*/
.menu_interno ul{
    list-style-type: none;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    width: 450px;
    overflow: hidden;
    background-color:  rgb(99, 1, 138);
}
.menu_interno li {
    float: left;
}
.menu_interno li a:hover {
    background-color: rgb(174, 101, 216);
}
.menu_interno li a {
    display: block;
    color: rgb(209, 209, 209);
    text-align: center;
    border-radius: 10px;
    padding: 14px 16px;
    text-decoration: none;
}
.menu li input {
    display: block;
    color: black;
    text-align: center;
    margin-top: 7px;
    margin-left: 75px;
    padding: 8px 10px;
    text-decoration: none;
}
/*----------------------- conteudo ---------------------*/
div {
    text-align: center;
    padding: 5px;
}
.card {
    background: rgb(59, 40, 75);
    padding: 1.5rem 2rem;
    border-color: rgb(28, 2, 49);
    border-radius: 0.25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--dark-blue);
}
.card h2 {
    color: rgb(222, 177, 248);
    text-align: center  ;
}
.card ul li {
    font-size: 12pt;
    font-family: Arial, Helvetica;
    text-align: justify;
    list-style-image: none;
}
.card ul li{
    list-style-image: url("../imagens/apple.png");
    line-height: 1cm;
    
} 
.card a {
   color:rgb(222, 177, 248)
}
.card blockquote {
    font-size: 12pt;
    font-family: Arial, Helvetica;
    text-align: center;
    list-style-image: none;
    padding: 15px;
}

/* --------------------- Rodepé ------------------------ */
footer {
    color: white;
    text-align: center;
    font-style: italic;
    padding: 15px;
    font-size: 15px;
}
footer img{
    width: 25px;
    height: 25px;
    margin: 0px;
    padding: 0px;
}
footer address a{
    text-decoration: none;
    color: white;
};
